---
import { ViewTransitions } from 'astro:transitions';
import '@/styles/fonts.css';
import '@/styles/global.css';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import WhatsAppFloatButton from '@/components/WhatsAppFloatButton.astro';
import BackToTop from '@/components/BackToTop.astro';

interface Props {
  title?: string;
  description?: string;
  hideFloatMobile?: boolean;
}

const { title = 'Hidden Naqsha', description = '', hideFloatMobile = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header transition:persist />
    <main class="flex-1" transition:animate="fade">
      <slot />
    </main>
    <Footer transition:persist />
    <div class:list={[{ 'hidden md:block': hideFloatMobile }]} transition:persist>
      <WhatsAppFloatButton />
    </div>
    <BackToTop transition:persist />
  </body>
</html>
